<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    校园新闻 <span class="pull-right"><a routerLink="/add_news"><i class="glyphicon glyphicon-plus"></i></a> <a routerLink="/news-list">更多>></a></span>
                </div>
            </div>
            <div class="panel-body">
                <bk-news></bk-news>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    球记视频<a routerLink="news-list" class="pull-right">更多>></a>
                </div>
            </div>
            <div class="panel-body">
                <bk-video></bk-video>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    校园活动<a routerLink="news-list" class="pull-right">更多>></a>
                </div>
            </div>
            <div class="panel-body">
                <bk-actives></bk-actives>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    球员排行<a routerLink="news-list" class="pull-right">更多>></a>
                </div>
            </div>
            <div class="panel-body">
                <bk-players></bk-players>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    赛事直播<a routerLink="news-list" class="pull-right">更多>></a>
                </div>
            </div>
            <div class="panel-body">
                <bk-players></bk-players>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    我的信息<a routerLink="news-list" class="pull-right">更多>></a>
                </div>
            </div>
            <div class="panel-body">
                <bk-players></bk-players>
            </div>
        </div>
    </div>
