<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <br/>
    <br/>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="glyphicon glyphicon-user"></i> 登录
        </div>
      </div>
      <div class="panel-body">
        <form name="login" #loginForm="ngForm">
          <p>
            <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="用户名" required/>
          </p>
          <p>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="密码"
                   required/>
          </p>
          <p>
            <button class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid">提交</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
